footer {
  background-color: black;
  width: 100vw;
  color: #db8f13;
  overflow: hidden;
  clear: both;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content h3 {
  padding: 1rem;
  font-size: 3rem;
  text-transform: capitalize;
  line-height: 2rem;
  font-family: "Cookie", cursive;
}

.description {
  max-width: 500px;
  line-height: 28px;
  font-size: 16px;
  color: #dbdbdf;
  padding: 1rem;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.socials li {
  margin: 0 1rem;
}

.copyright {
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
  color: #dbdbdf;
  letter-spacing: 0.3rem;
  padding: 1rem;
}
